*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pattern{
    background-color: lightblue;

}


.first-section{
    
    width: 750px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.main-title{
    font-size: 40px;
}

.second-section{
    margin-left: 50px;
}

.photo-description{
    font-size: 12px;
}

.third-section{
    margin-left: 50px;
    margin-top: 20px;
}

.first-paragraph{
    font-size: 15px;
    width: 750px;
    margin-bottom: 20px;
}

.list-item{
    width: 750px;
    margin-bottom: 20px;
}

.normal-cell{
    height: 40px;
    width: 150px;
}

.final-cell{
    height: 40px;
    width: 500px;
    text-align: left;
}

.first-row{
    background-color: rgb(0, 174, 255);
}

.odd-rows{
    background-color: rgb(180, 234, 255);
}

table{
    margin-bottom: 20px;
}

.suggestions{
    color: rgb(92, 88, 88);
    margin-left: 50px;

}

.image-suggestion{
    background-image: url(/img/monitor.jpg);
}